@page
@model GematriaCalculator.Pages.Greek.IndexModel
@{
    ViewData["Title"] = "Greek Words";
}
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.GreekIsopsephys[0].Number)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GreekIsopsephys[0].Lemma)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GreekIsopsephys[0].Xlit)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GreekIsopsephys[0].Pronounce)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GreekIsopsephys[0].Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.GreekIsopsephys[0].Standard)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GreekIsopsephys)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Number)</td>
                        <td>@Html.DisplayFor(modelItem => item.Lemma)</td>
                        <td>@Html.DisplayFor(modelItem => item.Xlit)</td>
                        <td>@Html.DisplayFor(modelItem => item.Pronounce)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Standard)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>